<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 (mouseover)="mouse()" (mouseout)="mouseout()">
    Welcome to {{ title }}!
  </h1>
</div>
<nav>
  <a routerLink="/heroes">Heroes</a>
</nav>
<nav>
    <a routerLink="/dashboard">Dashboard</a>  
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>
<app-ObservableExample (open)="onOpen($event)" (close)="onClose($event)"></app-ObservableExample>